meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width,initial-scale=1')
meta(name='description', content='Test application with authorization.')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400&display=swap')
link(rel='stylesheet', href='./stylesheets/style.css')
title Auth Test App
body.page
  h1 Auth Test App
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/auth/signin') Login
      li
        a(href='/auth/signup') Registration    
        
  script(src='./javascripts/script.js')
